---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center text-align-left">
		{{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- SCHEDULE 
<section class="schedule">
  <div class="container">
    <h1 class="text-center">SCHEDULE</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.schedule %}
        <div class="day col-xs-12">
         <h2> {{ item.day | markdownify }} </h2>
          <hr>
            {% for e in item.event %}
            {{ e | markdownify }}
            {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->

<section class="us">
  <div class="container">
  <!-- Schedule header -->
    <h1 class="text-center">About Us</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.us limit:2 %}
        <div class="person col-xs-6">  
          <h3> {{ item.person }} </h3>
          <img src="{{item.image}}" class="img col-xs-12">
        </div>
        {% endfor %}
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.us offset:2 %}
        <div class="person col-xs-6">  
          <h3> {{ item.person }} </h3>
          <img src="{{item.image}}" class="img col-xs-12">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</section>

<section class="about" id="sponsors">
  <div class="container">
	<h1 class="text-center">Sponsors</h1>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center text-align-left about">
		{{ site.event.sponsors.message | markdownify }}
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.sponsors.already_sponsoring.bronze %}
        <div class="person col-xs-6">  
          <a href="{{item.sponsor_link}}"> <img src="{{item.sponsor}}" class="img col-xs-12"></a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.sponsors.already_sponsoring.silver %}
        <div class="person col-xs-4">  
          <a href="{{item.sponsor_link}}"> <img src="{{item.sponsor}}" class="img col-xs-12"></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>


