---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center text-align-left">
	  <!-- start email collector -->
	  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	  <div id="mc_embed_signup" style='background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;'>
			<form action="//demonhacks.us14.list-manage.com/subscribe/post?u=d649f9cdfe97eb9dcba7c6ead&amp;id=337763448d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
				<h3>If you're interested in attending, add you name to our emailing list!<br> We'll let you know as soon as applications open.</h3><br>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d649f9cdfe97eb9dcba7c6ead_337763448d" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
		</div><br><br><br><br><br>
		<!-- end email collector -->		
		{{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- SCHEDULE 
<section class="schedule">
  <div class="container">
    <h1 class="text-center">SCHEDULE</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.schedule %}
        <div class="day col-xs-12">
         <h2> {{ item.day | markdownify }} </h2>
          <hr>
            {% for e in item.event %}
            {{ e | markdownify }}
            {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->

<section class="us">
  <div class="container">
  <!-- Schedule header -->
    <h1 class="text-center">About Us</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.us limit:2 %}
        <div class="person col-xs-6">  
          <h3> {{ item.person }} </h3>
          <img src="{{item.image}}" class="img col-xs-12">
        </div>
        {% endfor %}
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.us offset:2 %}
        <div class="person col-xs-6">  
          <h3> {{ item.person }} </h3>
          <img src="{{item.image}}" class="img col-xs-12">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</section>

<section class="about" id="sponsors">
  <div class="container">
	<h1 class="text-center">Sponsors</h1>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center text-align-left about">
		{{ site.event.sponsors.message | markdownify }}
    </div>
  </div>
</section>
