<section class="hero">
  <div class="wrapper">
	<div class="topText text-center">
		<!--<h1 rel="title">{{ site.event.name }}</h1>-->
		<div rel="title"><img id="logo" src="/images/DEMONHACKS300_2.png"></div>
		<h2 rel="description">{{ site.event.description }}</h2>
		<h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
	</div>
	
	<div id="soc-media-buttons">
	<a href="https://www.facebook.com/demonhacks2019" target="_blank"><img class="social-media" src="images/facebook-social-media-icon.png" alt="Facebook Page"/></a>
	<a href="mailto:team@demonhacks.com" target="_blank"><img class="social-media" src="images/email-icon.png" alt="Email Us!"/></a>
	</div>
	
    <div class="buttons align-center">
      {% for link in site.event.hero.links %}
        {% if link.id == "apply-btn" %}
          <a href="{{ link.href }}" target="_blank">{{ link.text }}</a>
        {% elsif link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="arrow-cont">
      <!-- Double Down icon by Icons8 -->
      <img class="icon icons8-Double-Down" width="50" height="50" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABvklEQVRoQ+3Y7U3EMAwGYHsDNgE2gMlhA2ATNgjyKUVRLm0c+3UvqnJ/Kl2bj8dOG7dMF/nxRRy0ILNlcmVkZSQoAtddWimlrxy0d2b+DQqgqduU0hMRfUhjZn4tO7nLSErpm4ieiUiO02AKxAsR/TCzHP9/LYioP2fC1AgieqtXS/MeyQ2nwGgQt6W2t1hnwGgRhxA5+UjMCKILeRRmFKGCnI2xINSQszBWxBAkGuNBDEOiMF6ECYLGIBBmCAqDQjQhI0WjZ5+xIEKLRgvGiYgrGkcwCERo0ajBRCHgReMRJhLRfWppolxXz602+Rp5s7ut79bS2OlH3ab7zg7CyDzDEN2MbFECYKSrkExsc+xmBISRbu5eT73LqWyvhlh385xN+epx+EXG8jAwQ6yYOvLITAwvrXJwyz2zh/FmwgVBZQaFUD+1OtE0fTZCItwQa2bQCAhkFBOBgEG0mCgEFNLDRCLgkD1MflioC8DevtM6P7Szawdo7DPSVF00asdx7ezaQSqMNFMVjdr+6+tCMrINUmDkr27RaEWE3CP1ZLRFowdxCsQ7QW370KWlnQTiugVBRBHZx8oIMpqIvv4AqWfkQu1G/YcAAAAASUVORK5CYII=">
    </div>
  </div>
</section>



<!-- <div class="topText" style="background: rgba(169,169,169,0.6); max-width:55%; margin:75px auto;">
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
  </div> -->
