<!DOCTYPE html>
<html>
  {% include head.html %}

  <body {% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>


    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <h1>DemonHacks</h1>
        <h3>&copy; 2018 DemonHacks. Developed by <a href="https://www.linkedin.com/in/aoganezo" target="_blank">Artur Oganezov</a> , <a target="_blank" href="https://www.linkedin.com/in/sam-gilroy/">Sam Gilroy</a> ,and <a target="_blank" href="https://www.linkedin.com/in/mikala-metzger/">Mikala Metzger</a>. Template by <a href="https://github.com/nlaz" target="_blank">Niko Lazaris</a>.</h3>
      </div>
    </section>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
